.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50vw;
  background: #ffffff1b;
  backdrop-filter: blur(5px);
  margin-top: 20%;
  margin-left: 50%;
}
.heading{
  font-family: poppins;
  margin-bottom: 10px;
}
.inputArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:  100%;
  border: 1px solid #1a1a1a;
  border-radius: 20px;
  padding: 3px 4px;
  overflow: hidden;
}
.passwordInput {
  border: none;
  outline: none;
  padding: 2px 8px ;
  flex: 1;
  background-color: transparent;
}


input[type="checkbox"] {
  margin-left: 5px;
}

.critiria{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.copyBtn{
  padding: 6px 8px;
  color: white;
  background-color:saddlebrown;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color ease-in .26s;
}
.copyBtn:hover{
  color: white;
  background-color: black;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  cursor: pointer;
}
::placeholder{
  color: black;
}